h1 {
    font-family: 'Sedgwick Ave Display', cursive;
}
.fonttest1 {
    color: pink;
}
.fonttest2 {
    direction: rtl;
}
.fonttest3 {
    letter-spacing: 3ch;
}
.fonttest4 {
    line-height: 8ch
}
.fonttest5 {
    text-align: center;
}
.fonttest6 {
    text-decoration: underline;
    text-decoration-color: blue;
}
.fonttest7 {
    text-indent: 2ch;
}
.fonttest8 {
    text-shadow: 5px 1px 0.5px rgb(231, 231, 231);
}
.fonttest10 {
    text-transform: uppercase;
}
h1 > em {
    font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Sedgwick Ave Display', cursive;
}